.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    width : 400px;
    height: 400px;
    padding: 2rem;
    border: 1px solid #000;
}

.input-group {
    width: 100%;
}

.input-group label, .input-group input {
    width: 100%;
}

.button-group {
    display: flex;
    justify-content: center;
    width: 100%;
}

